
/* Custom Fonts */
@font-face {
  font-family: SansPro;
  src: url(/Users/brandonpenilla/Desktop/Codebase/my-app/src/assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: SansPro;
  src: url(/Users/brandonpenilla/Desktop/Codebase/my-app/src/assets/fonts/source-sans-pro/SourceSansPro-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: SansPro;
  src: url(/Users/brandonpenilla/Desktop/Codebase/my-app/src/assets/fonts/source-sans-pro/SourceSansPro-Bold.ttf);
  font-weight: 700;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  /*dont want horizontal overflow */
  overflow-x: hidden;
  position: relative;
  /* using important because somethimes bootstap styling overwrites our styling */
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  font-family: 'SansPro', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}


/* *************** */

/* .app{
  display: flex;

} */
/* 
.MH1 {
  display: flex;
  color: gray;
} */

/* .navigation ul li:hover {
  border-bottom: 1px solid #333;
  /* text-decoration: underline; */
  /* background-color: black; */
/* } */

/* .navigation {
  position: fixed;
} */
